## pandas

In [260]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [261]:
data = pd.concat([pd.merge(pd.read_csv(f'Data\Students_info_{i}.csv'), pd.read_csv(f'Data\Students_marks_{i}.csv'), on='index') for i in range(10)], ignore_index=True)
data.sample(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
249,249,male,group C,high school,standard,none,group3,68,60,53
410,410,female,group D,master's degree,standard,completed,group5,70,71,74
254,254,male,group D,high school,standard,none,group3,54,52,52
487,487,female,group C,associate's degree,free/reduced,none,group5,60,75,74
303,303,male,group B,associate's degree,standard,none,group4,80,76,64
383,383,female,group E,some high school,free/reduced,none,group4,38,49,45
101,101,male,group D,bachelor's degree,standard,completed,group2,68,74,74
352,352,female,group C,some college,standard,completed,group4,63,78,80
859,859,male,group C,associate's degree,free/reduced,none,group9,87,73,72
540,540,male,group C,high school,standard,completed,group6,75,69,68

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [262]:
data.drop('index', axis=1, inplace=True)
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [263]:
print(f'Height: {len(data.index)}, width: {len(data.columns)}')

Height: 1000, width: 9

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [264]:
data.select_dtypes('int64').describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [265]:
print('There is some missing data' if data.isna().any().any() else 'There is no missing data')

There is no missing data

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [266]:
print(f"Mean math score: {data['math score'].mean()}",
      f"Mean reading score: {data['reading score'].mean()}",
      f"Mean writing score: {data['writing score'].mean()}",
      sep='\n')

Mean math score: 66.089
Mean reading score: 69.169
Mean writing score: 68.054

#### Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [267]:
tmp = data.groupby('test preparation course').mean(numeric_only=True)
print(f"Scores of those who took the test...",
      f"Math mean score: {tmp['math score']['completed']:.3f}",
      f"Reading mean score: {tmp['reading score']['completed']:.3f}",
      f"Writing mean score: {tmp['writing score']['completed']:.3f}",
      f"...and of those who didn't",
      f"Math mean score: {tmp['math score']['none']:.3f}",
      f"Reading mean score: {tmp['reading score']['none']:.3f}",
      f"Writing mean score: {tmp['writing score']['none']:.3f}",
      sep='\n')

Scores of those who took the test...
Math mean score: 69.696
Reading mean score: 73.894
Writing mean score: 74.419
...and of those who didn't
Math mean score: 64.078
Reading mean score: 66.534
Writing mean score: 64.505

#### Задание 8. Выведите на экран все различные значения из столбца lunch.

In [268]:
print(*data['lunch'].unique(), sep='\n')

standard
free/reduced

#### Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [269]:
data.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [270]:
passmark = 50

#### Задание 10. Ответьте на вопросы:
* Какая доля студентов сдала экзамен по математике (passmark > 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [271]:
print(f"The number of students who passed the math exam is {len(data[data['math score'] >= passmark]) / len(data) * 100:.3f}%",
      f"The number of prepared students who passed the math exam is approximately {len(data[(data['math score'] >= passmark) & (data['test preparation'] == 'completed')]) / len(data[data['test preparation'] == 'completed']) * 100:.3f}%",
      f"The number of unprepared female students who failed the math exam is approximately {len(data[(data['math score'] < passmark) & (data['test preparation'] == 'none') & (data['gender'] == 'female')]) / len(data[(data['test preparation'] == 'none') & (data['gender'] == 'female')]) * 100:.3f}%",
      sep='\n') #  округлил всё до трёх после запятой для простоты восприятия

The number of students who passed the math exam is 86.500%
The number of prepared students who passed the math exam is approximately 92.179%
The number of unprepared female students who failed the math exam is approximately 20.958%

#### Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [272]:
from time import time

In [273]:
start_time1 = time()
tmp = [(group[0], group[1].mean()) for group in data.groupby('race/ethnicity')['reading score']]
for i in tmp:
    print(f'The mean reading score for {i[0]} is {i[1]:.3f}')
comp_time1 = time() - start_time1
print(f'This was computed in {comp_time1 * 1000:.3f} milliseconds')

The mean reading score for group A is 64.674
The mean reading score for group B is 67.353
The mean reading score for group C is 69.103
The mean reading score for group D is 70.031
The mean reading score for group E is 73.029
This was computed in 2.012 milliseconds

In [274]:
data['education'] = data['education'].astype('category')
data['education'].cat.set_categories(["some high school", "high school", "some college", "associate's degree", "bachelor's degree", "master's degree"], inplace=True)

C:\Users\Machenike\AppData\Local\Temp\ipykernel_14500\713638166.py:2: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  data['education'].cat.set_categories(["some high school", "high school", "some college", "associate's degree", "bachelor's degree", "master's degree"], inplace=True)

In [275]:
start_time2 = time()
tmp = [(group[0], group[1].min()) for group in data.groupby('education')['writing score']]
for i in tmp:
    print(f'The minimal writing score for {i[0]} is {i[1]}')
comp_time2 = time() - start_time2
print(f'This was computed in {comp_time2 * 1000:.3f} milliseconds')

The minimal writing score for some high school is 10
The minimal writing score for high school is 15
The minimal writing score for some college is 19
The minimal writing score for associate's degree is 35
The minimal writing score for bachelor's degree is 38
The minimal writing score for master's degree is 46
This was computed in 2.680 milliseconds

#### Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.

In [276]:
from collections import defaultdict

In [277]:
start_time3 = time()
tmp = defaultdict(lambda: [0, 0])
for i in range(1000):
    tmp[data['race/ethnicity'][i]][0] += 1
    tmp[data['race/ethnicity'][i]][1] += data['reading score'][i]
for i in sorted(tmp.keys()):
    print(f'The mean reading score for {i} is {tmp[i][1] / tmp[i][0]:.3f}')
comp_time3 = time() - start_time3
print(f'This was computed in {comp_time3 * 1000:.3f} milliseconds, which is {(comp_time3 - comp_time1) * 1000:.3f} milliseconds longer than the groupby approach')

The mean reading score for group A is 64.674
The mean reading score for group B is 67.353
The mean reading score for group C is 69.103
The mean reading score for group D is 70.031
The mean reading score for group E is 73.029
This was computed in 39.157 milliseconds, which is 37.145 milliseconds longer than the groupby approach

In [278]:
start_time4 = time()
tmp = defaultdict(lambda: 101)
for i in range(1000):
    tmp[data['education'][i]] = min(data['writing score'][i], tmp[data['education'][i]])
for i in ["some high school", "high school", "some college", "associate's degree", "bachelor's degree", "master's degree"]:
    print(f'The minimal writing score for {i} is {tmp[i]}')
comp_time4 = time() - start_time4
print(f'This was computed in {comp_time4 * 1000:.3f} milliseconds, which is {(comp_time4 - comp_time2) * 1000:.3f} milliseconds longer than the groupby approach')

The minimal writing score for some high school is 10
The minimal writing score for high school is 15
The minimal writing score for some college is 19
The minimal writing score for associate's degree is 35
The minimal writing score for bachelor's degree is 38
The minimal writing score for master's degree is 46
This was computed in 53.010 milliseconds, which is 50.329 milliseconds longer than the groupby approach

#### Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [279]:
data.pivot_table(index=['gender', 'education'], values=['math score', 'reading score', 'writing score'])

                           math score  reading score  writing score
gender education
female some high school     59.296703      69.109890      68.285714
       high school          59.351064      68.202128      66.691489
       some college         65.406780      73.550847      74.050847
       associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       master's degree      66.500000      76.805556      77.638889
male   some high school     67.840909      64.693182      61.375000
       high school          64.705882      61.480392      58.539216
       some college         69.009259      64.990741      63.148148
       associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       master's degree      74.826087      73.130435      72.608696

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [291]:
data['Math_PassStatus'] = data['math score'].apply(lambda x: 'F' if x < passmark else 'P')
data['Reading_PassStatus'] = data['reading score'].apply(lambda x: 'F' if x < passmark else 'P')
data['Writing_PassStatus'] = data['writing score'].apply(lambda x: 'F' if x < passmark else 'P')
print(f"{len(data[data['Math_PassStatus'] == 'P'])} of students passed the math exam, while {len(data[data['Math_PassStatus'] == 'F'])} didn't",
      f"{len(data[data['Reading_PassStatus'] == 'P'])} of students passed the reading exam, while {len(data[data['Reading_PassStatus'] == 'F'])} didn't",
      f"{len(data[data['Writing_PassStatus'] == 'P'])} of students passed the writing exam, while {len(data[data['Writing_PassStatus'] == 'F'])} didn't",
      sep='\n')

865 of students passed the math exam, while 135 didn't
910 of students passed the reading exam, while 90 didn't
886 of students passed the writing exam, while 114 didn't

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [296]:
data['OverAll_PassStatus'] = data.T.apply(lambda x: 'P' if x['Math_PassStatus'] == 'P' and x['Reading_PassStatus'] == 'P' and x['Writing_PassStatus'] == 'P' else 'F')
print(f"{len(data[data['OverAll_PassStatus'] == 'P'])} of students passed every exam, while {len(data[data['OverAll_PassStatus'] == 'F'])} didn't")

812 of students passed every exam, while 188 didn't

#### Задание 16. Переведем баллы в оценки

**Система перевода баллов в оценки**
*      [90;100] = A
*      [80;90) = B
*      [70;80) = C
*      [60;70) = D
*      [50;60) = E
*      [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [302]:
def GetGrade(average_mark: int):
    if average_mark < 50:
        return 'F'
    if average_mark == 100:
        return 'A'
    return list('EDCBA')[int(str(average_mark)[0]) - 5]

data['Grade'] = data.T.apply(lambda x: GetGrade((x['math score'] + x['reading score'] + x['writing score']) / 3))
print(f"{len(data[data['Grade'] == 'F'])} students got F",
      f"{len(data[data['Grade'] == 'E'])} students got E",
      f"{len(data[data['Grade'] == 'D'])} students got D",
      f"{len(data[data['Grade'] == 'C'])} students got C",
      f"{len(data[data['Grade'] == 'B'])} students got B",
      f"{len(data[data['Grade'] == 'A'])} students got A",
      sep='\n')

103 students got F
182 students got E
256 students got D
261 students got C
146 students got B
52 students got A

## numpy

Во всех задачах необходимо написать код решения внутри функции и убедиться, что она работает, с помощью [assert](https://python-reference.readthedocs.io/en/latest/docs/statements/assert.html) на выражение с использованием этой функции для данных из условия.

При решении задач запрещается использовать циклы (`for`, `while`) и оператор `if`.

Везде, где встречаются массивы или матрицы, подразумевается, что это `numpy.array`.

**numpy reference:** https://numpy.org/doc/stable/reference/index.html

In [326]:
import numpy as np
import math

### Задание 1

Напишите функцию, возвращающую округленную взвешенную сумму оценок по данным оценкам и весам. Можете посчитать свою оценку за курс :) В нашем случае вес экзамена равен 0.3, вес домашек - 0.4, вес контрольной - 0.2, вес самостоятельных - 0.1. Например, если за экзамен у вас 7, за домашки 10, за контрольную 8, а за самостоятельные 6, то вы получите отличную оценку 8!

In [306]:
def result_mark(weights: np.ndarray, marks: np.ndarray) -> int:
    return int(sum(weights * marks))

In [307]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 10, 8, 6])

assert result_mark(weights, marks) == 8

In [308]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 0, 8, 6])

assert result_mark(weights, marks) == 4

### Задание 2

Напишите функцию, меняющую каждое третье (начиная с 0) значение массива целых чисел на заданное число. Например, если на вход поступает массив `array([3, 5, 1, 0, -3, 22, 213436])` и число `-111`, то на выходе должен получиться массив `array([-111, 5, 1, -111, -3, 22, -111])`.

In [323]:
def change_array(arr: np.ndarray, number: int) -> np.ndarray:
    arr[::3] = np.array([number] * (len(arr) // 3 + 1))
    return arr

In [324]:
arr = np.array([3, 5, 1, 0, -3, 22, 213436])
number = -111

assert np.allclose(change_array(arr, number), np.array([-111, 5, 1, -111, -3, 22, -111]))

In [325]:
arr = np.array([3, 14, 15, 92, 6])
number = 8

assert np.allclose(change_array(arr, number), np.array([8, 14, 15, 8, 6]))

### Задание 3

Напишите функцию, выдающую индексы «близких» элементов заданных массивов, а именно тех пар элементов, чей модуль разницы не превосходит заданного значения. Например, если на вход поступают массив `array([1.5, 0.5, 2, -4.1, -3, 6, -1])`, массив `array([1.2, 0.5, 1, -4, 3, 0, -1.2])` и число `0.5`, то на выходе должен получиться массив `array([0, 1, 3, 6])` (**важно: не `tuple`, а одномерный массив типа `numpy.ndarray` (то есть `.ndim` от него равно 1)!**).

In [338]:
def find_close(array1: np.ndarray, array2: np.ndarray,
               precision: float) -> np.ndarray:
    return np.array(np.where(np.abs(array1 - array2) <= precision)).flatten()

In [339]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([0, 1, 3, 6]))

In [340]:
array1 = np.array([3.1415, 2.7182, 1.6180, 6.6261])
array2 = np.array([6.6730, 1.3807, -1,     6.0222])
precision = 1.7
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([1, 3]))

### Задание 4

Напишите функцию, которая составляет блочную матрицу из четырех блоков, где каждый блок - это заданная матрица. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
\end{pmatrix},
$$
то ответом будет матрица
$$
\begin{pmatrix}
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
\end{pmatrix}
$$

In [341]:
def block_matrix(block: np.ndarray) -> np.ndarray:
    return np.tile(block, (2, 2))

In [342]:
block = np.array([[1, 3, 3], [7, 0, 0]])

assert np.allclose(
    block_matrix(block),
    np.array([[1, 3, 3, 1, 3, 3],
              [7, 0, 0, 7, 0, 0],
              [1, 3, 3, 1, 3, 3],
              [7, 0, 0, 7, 0, 0]])
)

### Задание 5

Напишите функцию, вычисляющую произведение всех ненулевых диагональных элементов на диагонали данной квадратной матрицы. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
то ответом будет 32.

Элементы матрицы считать целочисленными.

In [343]:
def diag_prod(matrix: np.ndarray) -> int:
    return matrix.diagonal()[matrix.diagonal().nonzero()].prod()

In [344]:
matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

assert diag_prod(matrix) == 750

### Задание 6

Для улучшения качества работы некоторых алгоритмов машинного обучения может быть полезно использовать [нормализацию данных](https://vk.cc/8xmfQk), чтобы привести признаки в выборке к одному масштабу — а именно, из каждого столбца вычесть среднее его значений и поделить на их стандартное отклонение. Напишите функцию, нормализующую входящую матрицу (по столбцам). Например, если на вход подается матрица 
$$
\begin{pmatrix}
1 & 4 & 4200\\
0 & 10 & 5000\\
1 & 2 & 1000\\
\end{pmatrix},
$$
то результатом с точностью до сотых будет матрица
$$
\begin{pmatrix}
0.71 & -0.39 & 0.46\\
-1.41 & 1.37 & 0.93\\
0.71 & -0.98 & -1.39\\
\end{pmatrix}
$$

Учтите, что в вашем матрице не должно получаться никаких nan. Подумайте, в каком случае они могут возникнуть и как обойти эту проблему.

_Подсказка. Казалось бы, при чем тут деление на ноль._

In [352]:
def normalize(matrix: np.ndarray) -> np.ndarray:
    return (matrix - np.mean(matrix, axis=0)) / np.std(matrix, axis=0)

In [355]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])

assert np.allclose(
    normalize(matrix),
    np.array([[ 0.7071, -0.39223,  0.46291],
              [-1.4142,  1.37281,  0.92582],
              [ 0.7071, -0.98058, -1.38873]])
)

In [356]:
matrix = np.array([[-7, 2, 42], [2, 10, 50], [5, 4, 10]])

assert np.allclose(
    normalize(matrix),
    np.array([[-1.37281, -0.98058,  0.46291],
              [ 0.39223,  1.37281,  0.92582],
              [ 0.98058, -0.39223, -1.38873]])
)

### Задание 7

Напишите функцию, вычисляющую какую-нибудь первообразную данного полинома (в качестве константы возьмите $0$). Например, если на вход поступает массив коэффициентов `array([4, 6, 0, 1])`, что соответствует полиному $4x^3 + 6x^2 + 1$, на выходе получается массив коэффициентов `array([1, 2, 0, 1, -2])`, соответствующий полиному $x^4 + 2x^3 + x - 2$.

In [357]:
def antiderivative(coefs: np.ndarray) -> np.ndarray:
    return np.polyint(coefs)

In [358]:
coefs = np.array([4, 6, 0, 1])

assert np.allclose(
    antiderivative(coefs),
    np.array([1., 2., 0., 1., 0.])
)

In [359]:
coefs = np.array([1, 7, -12, 21, -6])

assert np.allclose(
    antiderivative(coefs),
    np.array([ 0.2, 1.75, -4., 10.5, -6., 0.])
)

### Задание 8

Напишите функцию, делающую данную [треугольную матрицу](https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0) симметричной. Например, если на вход поступает матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
0 & 5 & 6 & 7\\
0 & 0 & 8 & 9\\
0 & 0 & 0 & 10\\
\end{pmatrix},
$$
то на выходе должна быть матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
2 & 5 & 6 & 7\\
3 & 6 & 8 & 9\\
4 & 7 & 9 & 10\\
\end{pmatrix}.
$$

In [367]:
def make_symmetric(matrix: np.ndarray) -> np.ndarray:
    return np.triu(matrix) + np.tril(matrix.T, -1)

In [369]:
matrix = np.array([[1, 2, 3, 4], [0, 5, 6, 7], [0, 0, 8, 9], [0, 0, 0, 10]])

assert np.allclose(
    make_symmetric(matrix),
    np.array([[ 1,  2,  3,  4],
              [ 2,  5,  6,  7],
              [ 3,  6,  8,  9],
              [ 4,  7,  9, 10]])
)

In [370]:
matrix = np.array([[10, 21, 32, 49], [0, 53, 62, 78], [0, 0, 82, 92], [0, 0, 0, 10]])

assert np.allclose(
    make_symmetric(matrix),
    np.array([[10, 21, 32, 49],
              [21, 53, 62, 78],
              [32, 62, 82, 92],
              [49, 78, 92, 10]])
)

### Задание 9

Напишите функцию, создающую прямоугольную матрицу из m одинаковых строк, заполненных последовательными натуральными числами от a до b включительно в возрастающем порядке. Например, если m = 5, a = 3, b = 10, то на выходе будет матрица
$$
\begin{pmatrix}
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
\end{pmatrix}
$$

In [386]:
def construct_matrix(m: int, a: int, b: int) -> np.ndarray:
    return np.repeat(np.expand_dims(np.arange(a, b + 1), 1), m, axis=1).T

In [388]:
m = 5
a = 3
b = 10

assert np.allclose(
    construct_matrix(m, a, b),
    np.array([[ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10]])
)

In [389]:
m = 3
a = 2
b = 6

assert np.allclose(
    construct_matrix(m, a, b),
    np.array([[2, 3, 4, 5, 6],
              [2, 3, 4, 5, 6],
              [2, 3, 4, 5, 6]])
)

### Задание 10

Напишите функцию, вычисляющую [косинусную близость](https://en.wikipedia.org/wiki/Cosine_similarity) двух векторов. Например, если на вход поступают вектора `array([-2, 1, 0, -5, 4, 3, -3])` и `array([0, 2, -2, 10, 6, 0, 0])`, ответом будет -0.25.

In [390]:
def cosine_similarity(vec1: np.ndarray, vec2: np.ndarray) -> float:
    return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))

In [391]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

In [392]:
vec1 = np.array([-4, 2,  9, -8, 9, 0, -2])
vec2 = np.array([ 3, 2, -4, -1, 3, 2,  2])

assert np.allclose(cosine_similarity(vec1, vec2), -0.119929)